@model IEnumerable<PictureWorker.Models.Picture>

<h2>Разрез:</h2>

<section>
    @foreach (PictureWorker.Models.Picture item in Model)
    {
        //<p>@item.Path</p>
        <img src=@$"{item.Path}.png"/>
    }

</section>

@Scripts.Render("~/bundles/jquery")
<script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>