@model IEnumerable<PictureWorker.Models.Picture>

<h2>Разрез:</h2>

<section>
@foreach (PictureWorker.Models.Picture item in Model)
            {
                <img src=@item.ShortPath/>
            }
    <img src="~/Content/Pictures/Downloads/new_pic_20230405060915313.jpg"/>       

</section>

@Scripts.Render("~/bundles/jquery")
<script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>